{{! Sheet Header }}
<header class='sheet-header'>
  {{! Encroachment Bar }}
  <div class="encroach-bar grid grid-16col" >
    <div class="backtrack-btn grid-span-3 encroach-title">
      <button class="backtrack-roll" disabled>{{localize "DX3RD.Actor.FIELDS.Attributes.Encroach"}}</button>
    </div>
    <div class="progress-bar grid-span-11">
      <div class="dice-addon grid grid-10col">
        <label><i class="fas fa-dice grid-span-2"></i> </label>
        <input
          class="grid-span-2"
          type='text'
          name='system.attributes.encroachment.dice'
          value='{{system.attributes.encroachment.dice}}'
          data-dtype='Number'
          disabled
        />
        <span class="slash grid-span-1"> | </span>
        <label><i class="fas fa-arrow-up grid-span-2"></i> </label>
        <input
          class="grid-span-2"
          type='text'
          name='system.attributes.encroachment.level'
          value='{{system.attributes.encroachment.level}}'
          data-dtype='Number'
          disabled
        />
      </div>
      <input class="encroach-value"
          type='text'
          style="{{encroach system.attributes.encroachment.value}};"
          name='system.attributes.encroachment.value'
          value='{{system.attributes.encroachment.value}}'
          data-dtype='Number'
        />
    </div>
    <div class="backtrack-btn grid-span-2">
      <button class="backtrack-roll">{{localize "DX3RD.Actor.UI.Backtrack"}}</button>
    </div>
  </div>

  <div class='header-fields grid grid-10col'>

    <div class='grid-span-4 names'>
      {{!Name}}
      <div class = 'stat-box grid stat-long'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.FIELDS.Info.Name"}}</label>
        <div class = "skew stat">
          <input
          class = 'name'
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Name'
          />
        </div>
      </div>

      {{!CodeName}}
      <div class = 'stat-box grid stat-long'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.FIELDS.Info.Codename"}}</label>
        <div class = "skew stat">
          <input
          class = 'name'
          name='codename'
          type='text'
          value='{{system.info.codename}}'
          placeholder='CodeName'
          />
        </div>
      </div>

    </div>
    {{!dice}}
    <div class='grid-span-4 dice-info'>
      <div class = 'stat-box dice'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.UI.Dice"}}
          <input
          class = "diceval"
          name='critmin'
          type='text'
          value='{{system.attributes.dice.universal.critical.min}}'
          data-dtype='Number'
          disabled
          />
        </label>
      </div>
      <div class = 'stat-box stat-mid'>
        <div class="grid grid-12col">
          <select name="system.attributes.dice.view" value = "{{system.attributes.dice.view}}" class="grid-span-4">
            {{selectOptions actionTypes selected=system.attributes.dice.view valueAttr="key" labelAttr="label" localize=true}}
          </select>
          {{!Calculate dice values with handlebars}}
          <input type="text" id="dice" class="grid-span-2" value="{{dice actor system.attributes.dice.view}}" disabled> 
          <span class="slash grid-span-1"> DX </span>
          <input type="text" id="critical" class="grid-span-2" value="{{critical actor system.attributes.dice.view}}" disabled>
          <span class="slash grid-span-1"> + </span>
          <input type="text" id="add" class="grid-span-2" value="{{add actor system.attributes.dice.view}}" disabled>
        </div>
      </div>
    </div>

    {{!EXP}}
    <div class='grid-span-2'>
      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.FIELDS.Attributes.EXP"}}</label>
        <div class = "skew stat flexrow">
          <input
          name='exp'
          type='text'
          value='{{system.attributes.exp.value}}'
          data-dtype='Number'
          disabled
          />
          <span class="divider"><i class="fas fa-arrow-right"></i></span>
          <input
          name='expmax'
          type='text'
          value='{{system.attributes.exp.max}}'
          data-dtype='Number'
          disabled
          />
        </div>
      </div>
      
      {{!Stock}}
      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.FIELDS.Attributes.Stock"}}</label>
        <div class = "skew stat flexrow">
          <input
          name='exp'
          type='text'
          value='{{system.attributes.stock.value}}'
          data-dtype='Number'
          disabled
          />
          <span class="divider"><i class="fas fa-arrow-right"></i></span>
          <input
          name='expmax'
          type='text'
          value='{{system.attributes.stock.max}}'
          data-dtype='Number'
          disabled
          />
        </div>
      </div>
    </div>

    <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    data-tooltip='{{actor.name}}'
    />
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  }}

    <div class="grid-span-8 stat-grid">
      {{!HP}}
      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.FIELDS.Attributes.HP"}}</label>
        <div class = "skew stat flexrow">
          <input
          class = 'highlight'
          name='HP'
          type='text'
          value='{{system.attributes.hp.value}}'
          data-dtype='Number'
          />
          <span class="divider">/</i></span>
          <input
          name='HPmax'
          type='text'
          value='{{system.attributes.hp.max}}'
          data-dtype='Number'
          disabled
          />
        </div>
      </div>

      {{!Initiative}}
      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.FIELDS.Attributes.Initiative"}}</label>
        <div class = "skew stat flexrow">
          <input
          name='initiative'
          type='text'
          value='{{system.attributes.initiative.value}}'
          data-dtype='Number'
          disabled
          />
        </div>
      </div>

      {{!Move}}
      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.FIELDS.Attributes.Move"}}</label>
        <div class = "skew stat flexrow">
          <input
          name='MoveCombat'
          type='text'
          value='{{system.attributes.move.combat}}'
          data-dtype='Number'
          disabled
          />
          <span class="divider">/</i></span>
          <input
          name='MoveFull'
          type='text'
          value='{{system.attributes.move.full}}'
          data-dtype='Number'
          disabled
          />
        </div>
      </div>

      {{!saving}}
      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">{{localize "DX3RD.Actor.FIELDS.Attributes.Saving"}}</label>
        <div class = "skew stat flexrow">
          <input
          name='saving'
          type='text'
          value='{{system.attributes.saving.value}}'
          data-dtype='Number'
          disabled
          />
          <span class="divider">/</i></span>
          <input
          name='savingmax'
          type='text'
          value='{{system.attributes.saving.max}}'
          data-dtype='Number'
          disabled
          />
        </div>
      </div>
    </div>


    <div class="grid-span-8 stat-grid">
      
      {{!Repeat for all stats}}
      {{log skills}}
      {{#each skills as |sVal sKey|}}
      {{log 'stat parameters' sKey sVal}}
      <div class="stat-box ability mainstat" data-ability-id="{{sKey}}">
        <label class="title ability-roll skew stat-label">{{localize (concat "DX3RD.Stats." (capitalizeFirst sKey))}}</label>
        <a class="skill-create" data-ability-id="body"><i class="fas fa-plus" style="color: white;"></i></a>
        <div class="value skew">
          <input class="stat" type="text" name="system.attributes.{{sKey}}.value" value="{{stat ../actor sKey 'value'}}" disabled>
        </div>
        <div class="diamond">
          <input class="point highlight" type="text" name="system.attributes.{{sKey}}.points" value="{{stat ../actor sKey 'points'}}" data-dtype="Number"/> 
        </div>
        <div class="skill-box">
        {{#each sVal as |value key|}}
          <label class="skill" data-skill-id="{{key}}">
            <span class="skew skill-roll">{{localize (concat "DX3RD.Skills." (capitalizeFirst key))}}</span>
            <a class="skill-edit"><i class="fas fa-edit" style="color: black;"></i></a>
          </label>
        {{/each}}
        </div>
      </div>
      {{/each}}

    </div>

  </div>

  
</header>