{{! Sheet Header }}
<header class='sheet-header'>
  {{! Encroachment Bar }}
  <div class="progress-bar grid" style="{{encroachbar system.attributes.encroachment.value}};" >
        <div class="dice-addon">
          <label><i class="fas fa-dice"></i> </label>
          <input
            type='text'
            name='system.attributes.encroachment.dice'
            value='{{system.attributes.encroachment.dice}}'
            data-dtype='Number'
            disabled
          />
          <span class="slash"> | </span>
          <label><i class="fas fa-arrow-up"></i> </label>
          <input
            type='text'
            name='system.attributes.encroachment.level'
            value='{{system.attributes.encroachment.level}}'
            data-dtype='Number'
            disabled
          />
        </div>
        <input
            type='text'
            style="{{encroachtext system.attributes.encroachment.value}}; font-size: 22px;"
            name='system.attributes.encroachment.value'
            value='{{system.attributes.encroachment.value}}'
            data-dtype='Number'
            disabled
          />
      <div class="grid grid-1col backtrack-btn">
        <button class="backtrack-roll">{{localize "DX3rd.BackTrackBtn"}}</button>
      </div>
  </div>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    data-tooltip='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />
    </div>
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  }}
    <div class='resources grid grid-3col'>

      {{! "flex-group-center" is also defined in the _grid.scss file
        and it will add a small amount of padding, a border, and will
        center all of its child elements content and text. }}
      <div class='resource flex-group-center'>
        <label for='system.health.value' class='resource-label'>
          {{localize 'DX3RD.Actor.base.FIELDS.health.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.health.value'
            value='{{system.health.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.health.max'
            value='{{system.health.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.power.value' class='resource-label'>
          {{localize 'DX3RD.Actor.base.FIELDS.power.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.power.value'
            value='{{system.power.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.power.max'
            value='{{system.power.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        {{#if (eq actor.type 'character')}}
          <label class='resource-label'>
            {{localize 'DX3RD.Actor.Character.FIELDS.attributes.level.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.attributes.level.value'
              value='{{system.attributes.level.value}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
        {{#if (eq actor.type 'npc')}}
          <label class='resource-label'>
            {{localize 'DX3RD.Actor.NPC.FIELDS.cr.label'}} / {{localize 'DX3RD.Actor.NPC.xp.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.cr'
              value='{{system.cr}}'
              data-dtype='Number'
            />
            <span></span>
            <input
              type='text'
              disabled='true'
              name='system.xp'
              value='{{system.xp}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</header>