{{! Sheet Header }}
<header class='sheet-header'>
  {{! Encroachment Bar }}
  <div class="encroach-bar grid grid-16col" >
    <div class="backtrack-btn grid-span-3 encroach-title">
      <button class="backtrack-roll" disabled>{{localize "DX3RD.attr.encroach"}}</button>
    </div>
    <div class="progress-bar grid-span-11">
      <div class="dice-addon grid grid-10col">
        <label><i class="fas fa-dice grid-span-2"></i> </label>
        <input
          class="grid-span-2"
          type='text'
          name='system.attributes.encroachment.dice'
          value='{{system.attributes.encroachment.dice}}'
          data-dtype='Number'
          disabled
        />
        <span class="slash grid-span-1"> | </span>
        <label><i class="fas fa-arrow-up grid-span-2"></i> </label>
        <input
          class="grid-span-2"
          type='text'
          name='system.attributes.encroachment.level'
          value='{{system.attributes.encroachment.level}}'
          data-dtype='Number'
          disabled
        />
      </div>
      <input class="encroach-value"
          type='text'
          style="{{encroach system.attributes.encroachment.value}};"
          name='system.attributes.encroachment.value'
          value='{{system.attributes.encroachment.value}}'
          data-dtype='Number'
        />
    </div>
    <div class="backtrack-btn grid-span-2">
      <button class="backtrack-roll">{{localize "DX3RD.misc.backtrack"}}</button>
    </div>
  </div>
  <div class='header-fields grid grid-10col'>
    {{! Name/Dice/Exp}}
    {{!Name}}
    <div class='grid-span-4'>
      <div class = 'stat-box grid stat-long'>
        <label class = "skew stat-label">Name</label>
        <div class = "skew stat">
          <input
          class = 'name'
          name='name'
          type='text'
          value='{{actor.name}}'
          placeholder='Name'
          />
        </div>
      </div>
    </div>
    {{!dice}}
    <div class='grid-span-4'>
      <div class = 'stat-box dice'>
        <label class = "skew stat-label">Dice
          <input
          class = "diceval"
          name='dice'
          type='text'
          value='{{system.attributes.dice.major.dice}}'
          data-dtype='Number'
          placeholder='?'
          />
        </label>
      </div>
      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">Dice2</label>
        <div class = "skew stat">
          <input
          name='dice2'
          type='text'
          value='{{system.attributes.dice.major.dice}}'
          data-dtype='Number'
          placeholder='Name'
          />
        </div>
      </div>
    </div>
    {{!EXP}}
    <div class='grid-span-2'>
      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">EXP</label>
        <div class = "skew stat flexrow">
          <input
          name='exp'
          type='text'
          value='{{system.attributes.exp.value}}'
          data-dtype='Number'
          placeholder='?'
          />
          <span><i class="fas fa-arrow-right"></i></span>
          <input
          name='expmax'
          type='text'
          value='{{system.attributes.exp.max}}'
          data-dtype='Number'
          placeholder='?'
          />
        </div>
      </div>

      <div class = 'stat-box grid stat-mid'>
        <label class = "skew stat-label">Stock</label>
        <div class = "skew stat flexrow">
          <input
          name='exp'
          type='text'
          value='{{system.attributes.stock.value}}'
          placeholder='?'
          />
          <span><i class="fas fa-arrow-right"></i></span>
          <input
          name='expmax'
          type='text'
          value='{{system.attributes.stock.max}}'
          placeholder='?'
          />
        </div>
      </div>
    </div>

    <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    data-tooltip='{{actor.name}}'
    />
    {{! The grid classes are defined in scss/global/_grid.scss. To use,
      use both the "grid" and "grid-Ncol" class where "N" can be any number
      from 1 to 12 and will create that number of columns.  }}
    
  </div>
</header>